# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# Dependency directories
node_modules/
/build/
/dist/
/out/
unpackage
# Vite specific
.vite/
.rollup.cache # Rollup 缓存 (Vite 内部使用)

# Vue specific
*.local # Vue CLI 和 Vite 中的本地配置，如 .env.local

# Environment variables
.env
.env.*.local # 例如 .env.development.local, .env.production.local

# Editor directories and files
.vscode/ # VS Code settings
.idea/ # IntelliJ IDEA settings
*.sublime-project
*.sublime-workspace
*.iml # IntelliJ IDEA module files
.DS_Store # macOS
Thumbs.db # Windows
Desktop.ini # Windows

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# Caches
.cache/
.eslintcache