// 主色调
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #40c393; // 孔雀石绿
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);
// 辅助色
$color-secondary: #6c757d; // 灰色
// 状态色
$color-success: #0ab7ee; // 绿色
$color-warning: #fac701; // 黄色
$color-danger: #dc3545; // 红色
$color-info: #17a2b8; // 青色

// 内容区域背景色
$background-color-content: #f2f3f8; // 浅灰色

// 字体颜色变量
// 基础文本颜色
$color-text-base: $color-black; // 基础文本颜色，纯黑
$color-text-alpha-90: rgba($color-black, 0.9); // 90% 不透明度的黑色文本

// --- 基础灰色调板 ---
// 从视觉上对颜色进行排序，从深到浅或从浅到深
$color-gray-900: #333333; // 极深灰，接近黑色，通常用于主要文本
$color-gray-800: #3d3d3d; // 深灰，比900稍亮，也常用于主要文本或标题
$color-gray-700: #828282; // 中等偏深灰，适合次要文本
$color-gray-600: #8c8c8c; // 中等偏深灰，与700类似，可根据视觉差异选择
$color-gray-500: #b2b2b2; // 浅灰，适合边框、分割线或不重要的辅助文本

// --- 基于用途的颜色变量 ---
// 将上面定义的灰色调板应用到具体的用途上，提高语义化
$color-text-primary: $color-gray-900; // 主要文本色
$color-text-heading: $color-gray-800;
$color-text-secondary: $color-gray-700; // 次要文本色
$color-text-placeholder: $color-gray-500; // 占位符文本色

$color-border-default: $color-gray-500; // 默认边框色
$color-divider-default: $color-gray-500; // 默认分割线色

$color-icon-dark: $color-gray-900; // 深色图标
$color-icon-light: $color-gray-700; // 浅色图标
